body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}

h2 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
